/* Greeting section */

/* Set the background image for the greeting section */
#greeting {
  background-image: url(./img/giphy.gif);
  background-size: cover;
  background-size: 100% 100%;
  background-position: top center;
  position: relative;
  z-index: 2;
  }
  
  /* Add a blur effect to the background image /
  / -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  backdrop-filter: blur(5px); */
  
  /* Add a background overlay */
  #greeting::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.1;
  z-index: -1;
  }
  
  /* Set the alignment of the greeting section */
  #greeting .greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;

  z-index: 1;
  }
  
  /* Style the main heading */
  #greeting h1 {
  display: block;
  width: fit-content;
  font-size: 2.8rem;

  color: transparent;
  animation: text_reveal .5s ease forwards;
  animation-delay: 1.5s;
  }
  
  /* Style the subheading */
  #greeting p {
  font-size: 1.5rem;
  display: block;
  width: fit-content;

  padding: 5px 75px;
  }
  
  /* Animate the main heading */
  #greeting h1:nth-child(1) {
  animation-delay: 1s;
  }
  
  /* Animate the subheading */
  #greeting h2:nth-child(2) {
  font-size: 2.0rem;
  color: #ffffff;
  animation: text_reveal_disc .5s ease forwards;
  padding: 10px 60px;
  animation-delay: 2s;
  }
  
  /* Animate the text reveal effect */
  #greeting h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: transparent;
  animation: text_reveal_box 1s ease;
  animation-delay: 1s;
  }
  
  /* Style the CTA button */
  #greeting .cta {
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid blue;
  width: fit-content;
  font-size: 2rem;
  position: relative;
  color: white;
  background-color: transparent;
  margin: 150px 150px;
  letter-spacing: .1rem;
  transition: .3s ease;
  transition-property: background-color, color;
  }
  
  /* Add hover effect to CTA button */
  #greeting .cta:hover {
  color: white;
  background-color: rgb(68, 68, 123);
  }

  /* centering */
  #greeting .content{
    position: absolute;
    display: block;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  /* style for the btn display */
  /* .greeting .btns{
    position: absolute;
    left: 5%;
    bottom: 10%;
  
    display: flex;
    width: 150px;
    height: 50px;
  } */

  /* style for the text anchor inside btn
  .btns a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: #ffffff;
    border: 2px solid #00bbff;
    border-radius: 8px;
    font-size: 19px;
    font-weight: 600;
    color: black;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
  } */

  /* .btns a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00bbff;
    z-index: -1;
    transition: 0.5s;
  }
   */

  /* .btns a:hover::before{
    width: 100%;
  
  } */
  /* End greeting section */




/* Main item section */
 #main {
  display: contents;
 }
 

 /* overwrite container style */
 #main .main{
  font-size: 20px;
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
 }


 /* make a style for the main titile */
 #main .main-title{
  text-align: center;
  font-size: 6rem;
  margin-bottom: 50px;
  color: #404fd5;
  text-transform: uppercase;
 }

/* color the span part */
 #main .main-title span{
  color: blueviolet;
 }

 /* make a style for text under the main titile */
 #main .main-top p {
  font-size: 3rem;
  margin-top: 5px;
  margin-bottom: 10px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: .05rem;
  color: #283074;
  white-space: normal !important;
 }


  /* make a style for text under the main button */
  #main .main-bottom p {
    color: white;
   }
  #main .main-bottom h2 {
    color: white;
    pointer-events: none !important;
   }

  /* cancel the text effect */
  #main .main-bottom a:hover {
    text-decoration: none !important;
   }
  /* make text become black */
   #main .main-bottom a:hover h2 {
    color: black;
   }
   #main .main-bottom a:hover p {
    color: black;
   }


 /* align the items */
 #main .main-bottom{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* flex-direction: row; */
  margin-top: 50px;
 }


 /* make a card effect of item */
 /* #main .main-item{
  
  width: 300px;
  height: 300px;
  background-color: #404fd5;
  background-image: url(./img/life.jpg);
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: .3s ease;
  transition-property: transform;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

 } */

/* make a card effect of item1 */
 #main .main-item1 {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;

	padding: 100px 100px;
	border-radius: 10px;
	background-image: url(./img/life.jpg);
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}


/* make a card effect of item2 */
#main .main-item2 {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;

	padding: 100px 100px;
	border-radius: 10px;
	background-image: url(./img/education.jpg);
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
} 
/* make a card effect of item3 */
#main .main-item3 {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;

	padding: 100px 100px;
	border-radius: 10px;
	background-image: url(img/work.jpg);
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
} 
/* make a card effect of item4 */
#main .main-item4 {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;

	padding: 100px 100px;
	border-radius: 10px;
	background-image: url(img/hobby.jpg);
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}


/* create a filter so that the card align with bg-img */
#main .main-item1:hover::after,
#main .main-item2:hover::after,
#main .main-item3:hover::after,
#main .main-item4:hover::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(10deg, #ffffff 10%, #ffffff 10%);
  opacity: 0.9;
  z-index: -1;
}


/* Todo: make the small icon gif*/
#main .main-bottom .icon{
  visibility: hidden;
  height: 30px;
	width: 30px;
  /* height: 0px;
	width: 0px;  */
  /* visibility: visible;
  height: 0px;
	width: 0px; */
 }

/* style the icon */
#main .main-bottom .icon:hover{
  visibility: visible;

	margin-bottom: 20px; 
}
 


/* style the h2 heading */
#services .main-item h2 {
	font-size: 2rem;
	color: rgb(0, 0, 0);
	margin-bottom: 10px;
	text-transform: uppercase;
}
/* style the text */
#services .main-item p {
	color: rgb(0, 0, 0);
	text-align: left;
}
/* End of Main item section */

/* Highlight section */

/* Style for the main title of the Highlight section */
#highlight .section-title {
  flex-direction: column;
  text-align: center;
  font-size: 4rem;
  margin-bottom: 50px;
  color: #404fd5;
  text-transform: uppercase;
  }
  
  /* Style for the span part of the Highlight section */
  #highlight .section-title span {
  color: blueviolet;
  }
  
  /* Style for the text under the Highlight section title */
  #highlight .highlights-header p {
  font-size: 2rem;
  margin-top: 1px;
  margin-bottom: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: .05rem;
  color: #283074;
  }
  
  /* Set the whole Highlight section */
  #highlight .highlight {
  display: flex;
  flex-direction: column;
  height: 5000000px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;

  }
  
  /* Style for each column of Highlight section */
  #highlight .all-highlights {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* overwrite the pre-wrap for container setting */
  white-space: nowrap;
  }
  
  /* Get the card effect of each item in the Highlight section */
  #highlight .highlights-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
  }
  
  /* Style for the highlight-info section in Highlight section */
  #highlight .highlight-info {
  margin-top: 50px;
  padding: 60px 10px 60px 10px;
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  color: white;
  }
  
  /* Style for the h1 in highlight-info section in Highlight section */
  #highlight .highlight-info h1 {
  font-size: 4rem;
  font-weight: 500;
  }
  
  /* Style for the h2 in highlight-info section in Highlight section */
  #highlight .highlight-info h2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 10px;
  }
  
  /* Style for the p in highlight-info section in Highlight section */
  #highlight .highlight-info p {
  color: white;
  }
  
  /* Style for the highlight-img section in Highlight section */
  #highlight .highlight-img {
  flex-basis: 0%;
  }
  
  /* Style for the highlight-img img section in Highlight section */
  #highlight .highlight-img img {
  max-height: 500px;
  transition: 0.3s ease transform;
  }
  
  /* Create a scaling effect for highlight-item img*/
  #highlight .highlights-item:hover .highlight-img img {
  transform: scale(1.2);
  }
  
  /* End of Highlight section */






/* Gallery */

#gallery{
	margin: 0;
	padding: 0;
  width: 100vw;
  min-height: 1400px;
  height: 100vh;
	box-sizing: border-box;
}


 /* make a style for the main titile of Highlight*/
 #gallery .gallery-header{
  flex-direction: column;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 50px;
  color: #404fd5;
  text-transform: uppercase;

  position: relative;
  bottom: 16%;
 }


 /* make a style for text under the highlights titile */
 #gallery .highlights-header p {
  font-size: 1.5rem;
  margin-top: 1px;
  margin-bottom: 5px;
  line-height: 2.5rem;
  font-weight: 30;
  letter-spacing: .05rem;
  color: #283074;
 }

 /* align the items */
 #gallery .gallery-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  margin: 250px 30px;
 }


/* styles the label elements */
.labels {
  position: relative;
  display: block;
  width: 340px;
  height: 350px;
  perspective: 1000px;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%);
  cursor: pointer;

  margin-top: 250px;
  margin-right: 150px;
  }
  
  /* styles the individual label elements */

  .label {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 300px;
    color: rgb(13, 0, 249);
    }
  

  .label1 {
    position: absolute;
    top: 50px;
    left: 150px;
    height: 300px;
    color: rgb(90, 89, 89);
  }
  
  .label2 {
    position: absolute;
  top: 330px;
  left: 30px;
  height: 300px;
  color: rgb(225, 62, 33);
  }
  
  .label3 {
  position: absolute;
  top: 230px;
  left: 250px;
  height: 300px;
  color: green;
  }


  /* styles the flip-card container */
  #gallery .flip-card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  z-index: 1;
  }
  
  /* styles the front and back of the flip-card container */
  #gallery .flip-card .front,
  #gallery .flip-card .back {
  position: absolute;

  text-align: center;
  background: rgba(206, 235, 243, 0);
  backface-visibility: hidden;
  border-radius: 0 20px 0 20px;
  }
  
  /* styles the back of the flip-card container */
  #gallery .flip-card .back {

  transform: rotateX(180deg);
  color: white;
  background: rgba(194, 194, 242, 0.861);
  }
  
  /* styles the flip-card container when hovering over the label element */
  label:hover .flip-card {
   
  transform: rotateX(2deg);
  box-shadow: 0 20px 20px rgba(50, 60, 60, 0.2);
  }
  
  /* styles the flip-card container when the label is clicked */
  input {
    display: none;
  }
  
  :checked + .flip-card {
  transform: rotateX(180deg);
  }
  
  /* styles the flip-card container when hovering over the checked label */
  label:hover :checked + .flip-card {
  transform: rotateX(175deg);
  box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2);
  }
  
  /* styles the front of the flip-card container */
  #gallery .front img {
  width: 110px;
  height: 110px;
  margin: 30px 0 20px 0;
  border-radius: 50%;
  }
  
  #gallery .front h1 {
  font-size: 18px;
  color: #003871;
  margin: 0;
  }
  #gallery .front h2 {
  font-size: 12px;
  color: #9b9cff;
  margin: 6px 0 6px 0;
  }
  
  #gallery .front b {
  font-size: 10px;
  color: #bdbdf6;
  margin: 0 0 3px 0;
  display: block;
  }
  
  #gallery .front p,
  #gallery .back .click {
  font-size: 10px;
  font-weight: 500;
  }
  
  /* styles the back of the flip-card container */
  #gallery .back h1 {
  color: #ffffff;
  margin: 30px 0 0 0;
  }
  
  hr {
  width: 180px;
  margin: 15px auto 10px auto;
  }
  
  #gallery .back p {
  font-size: 16px;
  color: #ffffff;
  padding: 0
  }

/* End of Gallery */
.spacer {
  flex: 1 0 auto;
}


/* Keyframes */
/* Define keyframes for text reveal animation using boxes */
@keyframes text_reveal_box {
  50% {
  width: 100%;
  left: 0;
  }
  100% {
  width: 0;
  left: 100%;
  }
  }
  
  /* Define keyframes for text reveal animation using color */
  @keyframes text_reveal {
  100% {
  color: white;
  width: 100%;
  left: 0;
  }
  }
  
  /* Define keyframes for text reveal animation using disc */
  @keyframes text_reveal_disc {
  100% {
  color: blue;
  width: 100%;
  left: 0;
  }
  }

  /* End of Keyframes */


  /* preloader style */
  #preloader{
    background: #ffffff url(img/load.gif) no-repeat center center;
    background-size: 25%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 9999;
  }