/* make footer smaller */
#footer{
  position: fixed;
  bottom: 0;
  height: 360px;
}

#footer .footer{
  white-space: inherit !important;
}
/* Set style for the feedback */
#feedback{
  margin-bottom: 360px;
}

/* Set style for title*/
#feedback h1{
  text-align: left;
  font-size: 2.5em;
}

/* Set style for the entire form */
#feedback form {
  background-color: #f2f2f2;
  border: 2px solid lightblue;
  border-radius: 5px;
  padding: 20px;
  margin: 0 auto;
  max-width: 600px;
  }
  
  /* Set style for the label text */
  #feedback label {
  font-weight: bold;
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
  }
  
  /* Set style for the button */
  #feedback .button {
  background-color: lightblue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  }
  
  /* Set style for input text and text area */
  #feedback input[type=text], textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 2px solid lightblue;
  border-radius: 5px;
  }
  
  /* Set style for input text and text area when focused */
  #feedback input[type=text]:focus, textarea:focus {
  outline: none;
  border: 2px solid dodgerblue;
  }
  
  /* Set style for submit and reset buttons */
  #feedback input[type=submit], input[type=reset] {
  background-color: lightblue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  }
  
  /* Set style for reset button */
  #feedback input[type=reset] {
  background-color: grey;
  }
  
  /* Set style for submit and reset buttons when hovered */
  #feedback input[type=submit]:hover, input[type=reset]:hover {
  background-color: dodgerblue;
  }
  
  /* Set style for submit and reset buttons when clicked */
  #feedback input[type=submit]:active, input[type=reset]:active {
  transform: translateY(1px);
  }